
:root {
  --primary: #9acc00;
  --secondary: #fed55d;
  --tertiary: #ff87c1;
  --quaternary: #e0b0ff;
}

* {
  box-sizing: border-box;
  margin: 0 auto;


}

.flexbox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header {
  background-color: var(--secondary);

  font-family:  'fredoka', Arial, Helvetica, sans-serif ;

}


header a {
  text-decoration: none;
  color: var(--quaternary);
  font-size: 20px;
  flex: 0 1 auto;
  width: 100%;
}

header a:hover {
  color: rebeccapurple;
}

header img {
 height : 130px;
}

header.flex-row {
  flex: 1 1 auto;
  width: 100%;
}

#Parent {
  display: inline-flex;
  justify-content: flex-end;

}

.articles{
  list-style: none;
  padding: 0 25px 0px 0px;
  font-size: 1.875em;
  
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #202A44;
  background-color: var(--primary);
  
}

@font-face {
  font-family: 'fredoka';
  src: url('assets/FredokaOne-Regular.woff') format('woff'),
       url('assets/FredokaOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}


#footer {
  position: absolute;
  /* add in a gradient for bottom of footer */
  background: linear-gradient(to left, var(--teritary), #AAFF00);
  bottom: 0;
  width: 100%;

}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px){
  
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  
}

